/* fonts */
body
{
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    background-color: #e8e8e8;
}

div.body
{
    max-width: 930px;
    margin: 30px auto 0 auto;
    padding: 30px;
    box-shadow: 0px 0px 20px 3px #808080;
    border-radius: 4px;
    background-color: white;
}

div.admonition p.admonition-title, div.sphinxsidebar h3, div.sphinxsidebar h4,
  div.sphinxsidebar input, div.body h1, div.body h2, div.body h3, div.body h4,
  div.body h5, div.body h6  { font-family: 'Garamond', 'Georgia', serif; }

div.entry {
    border: 1px solid #808080;
    border-radius: 4px;
    margin: 10px 0px 10px 0px;
    padding: 0px 10px 0px 10px;
}

pre, tt, code, table.code td
{
    font-family: 'Consolas', 'Menlo', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: 0.9em;
}

/* colors */
div.body                    { color: #3E4349; }
a                           { color: #004B6B; }
a:hover                     { color: #6D4100; }
