<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Calvin & Hobbes Search Engine - {% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
<div class="body">
    <h1>{{ self.title() }}</h1>
    <div id="content">{% block content %}{% endblock %}</div>
</div>
</body>
</html>
