{% extends "layout.html" %}
{% block title %}Search Calvin &amp; Hobbes{% endblock %}
{% block content %}
    <form action="search" method="get">
        <p>Search for: <input type="text" value="{{query}}" name="query"/><input type="submit" value="Search!"/></p>
    </form>
    {% if query!='' %}
    <hr>
    {% if entries|length == 0 %}
    <p>No result found</p>
    {% else %}
    <p>{{ entries|length }} result{%if entries|length>1 %}s{%endif%} found</p>
    {% for entry in entries %}
    <div class="entry">
        <p><a href="{{entry.link}}" title="Go to comic"><b>{{entry.date}}</b> (go to comic)</a></p>
        <p><b>Script:</b> {{entry.getQuote()}}</p>
        <p><b>Description:</b> {{entry.getDescription()}}</p>
    </div>
    {% endfor %}
    {% endif %}
    {% endif %}
{% endblock %}
